# Chtolly Kernel init script
# by krasCGQ @ xda-developers

on boot
    # core_ctl settings
    # Performance cluster
    write /sys/devices/system/cpu/cpu0/core_ctl/min_cpus 0
    write /sys/devices/system/cpu/cpu0/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_up_thres 75
    write /sys/devices/system/cpu/cpu0/core_ctl/busy_down_thres 30
    write /sys/devices/system/cpu/cpu0/core_ctl/offline_delay_ms 500
    write /sys/devices/system/cpu/cpu0/core_ctl/task_thres 4
    write /sys/devices/system/cpu/cpu0/core_ctl/is_big_cluster 1

    # Powersave cluster - Always online
    write /sys/devices/system/cpu/cpu4/core_ctl/min_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/max_cpus 4
    write /sys/devices/system/cpu/cpu4/core_ctl/not_preferred 1

    # Enable msm_thermal
    write /sys/module/msm_thermal/parameters/enabled Y

    # Force scheduler requests to be completed on the core they made
    write /sys/block/mmcblk0/queue/rq_affinity 2
    write /sys/block/mmcblk1/queue/rq_affinity 2

service chtolly-init /init.chtolly.sh
    class main
    user root
    group root
    seclabel u:r:init:s0
    oneshot
